@{
    ViewBag.Title = "About";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="row">
    <br />
    <div id="titulo">
        <img id="titulo" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/6/61/Logo_de_Pok%C3%A9mon_(EN).png/revision/20160319183155" width="500" height="200" />
    </div>
    <br />
    <br />
    <div id="campo">
        <a href="http://localhost:56097/Stores"><img src="http://vignette1.wikia.nocookie.net/es.pokemon/images/e/ef/Artwork_centro_Pok%C3%A9mon_XY.png/revision/latest?cb=20140605163806" title="Estadio Pokemon" /></a>
        <a href="http://localhost:56097/Stores/Create"><img id="tienda" src="http://www.legendarypokemon.net/images/architecture/arch_center.png" title="Tienda Pokemon" /></a>
    </div>
</div>
