@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div id="principal">
        <div id="titulo">
            <img id="titulo" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/6/61/Logo_de_Pok%C3%A9mon_(EN).png/revision/20160319183155" width="500" height="200" />
        </div>
        <div class="center">
            <a href="http://localhost:56097/Home/About"><input type="button" name="Jugar" value="Jugar" id="boton" /></a>
        </div>
    </div>
</div>